@import './base.css';

/* Add styles for layout */
.layout-container {
  display: flex;
  gap: 20px; /* Space between the components */
  justify-content: space-between; /* Distribute components with space between them */
  width: 100%;
}

/* Ensure that each component takes a reasonable amount of space */
.route-container,
.map-container,
.route-creator-container {
  flex: 1; /* Allow each component to grow equally */
  max-width: 33%; /* Set max width for each */
}

.map-container {
  height: 80vh; /* Ensure map has appropriate height */
}

.route-creator-container {
  /* Additional styles for the RouteCreator */
  height: auto;
  padding: 1rem;
}


#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex; /* Change to flex to align items */
  flex-direction: rows; /* Stack items vertically */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex; /* Change to flex to align items horizontally */
    flex-direction: column; /* Stack items vertically */
    width: 100%;
    padding: 0 2rem;
  }

  .map-container {
    flex-grow: 1; /* Allow the map container to grow and fill available space */
    width: 100%; /* Ensure full width */
    max-width: 1080px; /* Max width for the map */
    height: 80vh; /* Set the height */
    margin: 0 auto; /* Center the map */
  }

  main {
	  width: 100%;
  }
}

